*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* font-family: Google Sans, Noto, Roboto, Helvetica Neue, Nunito, sans-serif; */
  font-family: "Outfit", sans-serif;
  color: #222;
  overflow: hidden;
}

html {
  height: 100%;
  margin: 0;
}

canvas {
  height: 0%;
}

.sectionOne {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

model-viewer {
  width: 100%;
  height: 90vh;
  background-color: #ffffff;
  --poster-color: #ffffff00;
  position: relative;
}

#toggle-animation {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: 1px solid black;
  background-color: #ffffff;
  border-radius: 10%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 10%; /* Adjust the left position as needed */
  top: 22%; /* Center vertically */
  z-index: 1;
}

#toggle-ar-button {
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: 1px solid black;
  background-color: #ffffff;
  border-radius: 10%;
  cursor: pointer;
  outline: none;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 10vw;
  top: 13%;
  z-index: 1;
  color: #3a82f7;
  font-weight: 600;
  font-size: 17px;
}

#qrcode-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  padding-top: 25px;
  padding-right: 10px;
  padding-left: 10px;
  border: 2px solid #8b8b8b;
  outline: none;
  position: absolute;
  width: 210px;
  height: auto;
  right: 13vw;
  top: 11%;
  z-index: 1;
}

.text-qr {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 4px;
}

#toggle-animation svg {
  width: 13px;
  height: 13px;
  fill: white; /* Icon color (white) */
}

#toggle-animation:hover {
  background-color: rgba(
    138,
    138,
    138,
    0.5
  ); /* Red background color on hover */
}

#model-selector {
  /* background-color: red; */
  padding-top: 5px;
  padding-bottom: 5px;
  width: 200px;
  font-weight: 400;
  padding-left: 5px;
  border-radius: 8px;
  text-transform: capitalize;
}

#texture-selector {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 200px;
  padding-left: 5px;
  font-weight: 400;
  border-radius: 8px;
  text-transform: capitalize;
  /* background-color: green; */
}

#fieldGroup {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fieldGroupSecond {
  background-color: rgba(138, 138, 138, 0.5);
  padding: 10px;
  border-radius: 12px;
  display: flex;
  gap: 10px;
}

.Text {
  font-size: 12px;
  font-weight: 300;
  margin: 0;
  padding-left: 5px;
}

@media (max-width: 1441px) {
  #qrcode-container {
    right: 15%;
  }
}

/* laptop */
@media (max-width: 1025px) {
  #qrcode-container {
    right: 14%;
  }
}

/* Tablet */
@media (max-width: 769px) {
  #toggle-ar-button {
    display: none;
  }
  #toggle-animation {
    padding: 13px;
    border: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 100%;
    cursor: pointer;
    outline: none;
    position: absolute;
    right: 17px;
    top: 83%;
    z-index: 1;
  }
}

/* mobile */
@media (max-width: 426px) {
  #toggle-ar-button {
    display: none;
  }

  #fieldGroupSecond {
    padding: 7px;
    border-radius: 10px;
    gap: 6px;
  }

  .Text {
    font-size: 9px;
    font-weight: 300;
    margin: 0;
    padding-left: 5px;
  }

  #model-selector {
    font-size: 11px;
    width: 120px;
  }
  #texture-selector {
    font-size: 11px;
    width: 120px;
  }
}

@media (max-width: 426px) {
  #toggle-animation {
    align-items: center;
    justify-content: center;
    padding: 13px;
    border: none;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 100%;
    cursor: pointer;
    outline: none;
    position: absolute;
    right: 4%;
    top: 83%;
    z-index: 1;
  }
}
