.homeVideo {
  height: calc(100vh - 90px);
}

.btnClr {
  background: linear-gradient(90deg, #267bff 0.04%, #0cb2ff 99.96%);
}

video[poster] {
  width: 100%;
  height: auto;
  object-fit: fill;
}

.whyBigsurmoonCard {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.blogTextShadow {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.blogBoxShadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.blogImagetextshadow {
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}
.homeHead {
  text-shadow: 0px 0px 10px #000;
}

.homeSecondScreenImage {
  box-shadow: 0px 0px 100px 0px rgba(141, 141, 141, 0.5);
}

.homeConversionCard {
  box-shadow: 0px 0px 51.9px 0px #2875ff;
  border-color: #07bdff;
}
