@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  @font-face {
    font-family: "Roboto";
    font-weight: 300;
    src: url("/fonts/Roboto-Light.woff2") format("woff2"),
      url("/fonts/Roboto-Light.woff") format("woff");
  }



  @font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url("/fonts/Roboto-Regular.woff2") format("woff2"),
      url("/fonts/Roboto-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "Roboto";
    font-weight: 500;
    src: url("/fonts/Roboto-Medium.woff2") format("woff2"),
      url("/fonts/Roboto-Medium.woff") format("woff");
  }

  @font-face {
    font-family: "Roboto";
    font-weight: 900;
    src: url("/fonts/Roboto-Bold.woff2") format("woff2"),
      url("/fonts/Roboto-Bold.woff") format("woff");
  }


  @font-face {
    font-family: "Outfit";
    font-weight: 400;
    src: url("/fonts/outfit/Outfit-Light.woff2") format("woff2"),
      url("/fonts/outfit/Outfit-Light.woff") format("woff");
  }

  @font-face {
    font-family: "Outfit";
    font-weight: 500;
    src: url("/fonts/outfit/Outfit-Medium.woff2") format("woff2"),
      url("/fonts/outfit/Outfit-Medium.woff") format("woff");
  }


  @font-face {
    font-family: "Outfit";
    font-weight: 700;
    src: url("/fonts/outfit/Outfit-Bold.woff2") format("woff2"),
      url("/fonts/outfit/Outfit-Bold.woff") format("woff");
  }
  
}

#outer {
   
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}


video::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

video::-webkit-media-controls {
  display:none !important;
}

video::-webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none;
}