*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* font-family: Google Sans, Noto, Roboto, Helvetica Neue, Nunito, sans-serif; */
  font-family: "Outfit", sans-serif;
  color: #222;
  overflow: hidden;
}

html {
  height: 100%;
  margin: 0;
}

canvas {
  height: 0%;
  touch-action: none;
}

.sectionOne {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

model-viewer {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  --poster-color: #ffffff00;
  position: relative;
}

model-viewer canvas {
  touch-action: none;
}

.canvas slot canvas {
  touch-action: none;
}

#webgl-canvas {
  touch-action: none;
}

#toggle-animation {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* padding: 8px; */
  border: 1px solid #909090;
  background-color: #ffffff60;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 10%; /* Adjust the left position as needed */
  top: 24%; /* Center vertically */
  z-index: 1;
}

#toggle-ar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: 1px solid white;
  background-color: #0090f8;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  position: absolute;
  width: 60px;
  height: 60px;
  right: 10vw;
  top: 13%;
  z-index: 1;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}

#toggle-ar-button:hover #button-text {
  display: block;
  visibility: visible;
  color: white;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  padding-right: 18px;
}

#button-text {
  display: none;
  visibility: hidden;
}

#toggle-ar-button:hover {
  width: 152px;
}

#qrcode-main {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  right: auto;
  left: auto;
  background-color: #8e8e8eab;
}

#qrcode-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  padding-right: 10px;
  padding-left: 10px;
  border: 2px solid #8b8b8b;
  outline: none;
  /* position: absolute; */
  width: 500px;
  height: 600px;
  /* right: 13vw; */
  /* top: 11%; */
  z-index: 10;
  background-color: white;
}

.text-qr {
  text-align: center;
  padding-bottom: 4px;
  color: #000;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

#toggle-animation:hover {
  background-color: rgba(138, 138, 138, 0.5);
}

#model-selector {
  /* background-color: red; */
  padding-top: 5px;
  padding-bottom: 5px;
  width: 200px;
  font-weight: 400;
  padding-left: 5px;
  border-radius: 8px;
  text-transform: capitalize;
  fill: #fff;
  stroke-width: 1px;
  stroke: #d6d6d6;
  box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.1) inset;
}

#texture-selector {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 200px;
  padding-left: 5px;
  font-weight: 400;
  border-radius: 8px;
  text-transform: capitalize;
  fill: #fff;
  stroke-width: 1px;
  stroke: #d6d6d6;
  box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.1) inset;
  /* background-color: green; */
}

#fieldGroup {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#fieldGroupSecond {
  background-color: D6D6D6;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  gap: 11px;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.15);
}

.Text {
  font-size: 12px;
  font-weight: 300;
  margin: 0;
  padding-left: 5px;
}

@media (max-width: 1441px) {
  #qrcode-container {
    right: 15%;
  }
}

/* laptop */
@media (max-width: 1025px) {
  #qrcode-container {
    right: 14%;
  }
}

/* Tablet */
@media (max-width: 769px) {
  #toggle-ar-button {
    display: none;
  }
  #toggle-animation {
    padding: 13px;
    border: 1px solid #909090;
    background-color: #ffffff60;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    cursor: pointer;
    outline: none;
    position: absolute;
    right: 16px;
    top: 14%;
    z-index: 1;
  }
  #toggle-animation svg {
    height: 9px;
  }
}

/* mobile */
@media (max-width: 426px) {
  #toggle-ar-button {
    display: none;
  }

  #fieldGroup {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 100px;
  }

  #fieldGroupSecond {
    padding: 7px;
    border-radius: 10px;
    gap: 6px;
  }

  .Text {
    font-size: 9px;
    font-weight: 300;
    margin: 0;
    padding-left: 5px;
  }

  #model-selector {
    font-size: 11px;
    width: 120px;
  }
  #texture-selector {
    font-size: 11px;
    width: 120px;
  }
}

@media (max-width: 426px) {
  #toggle-animation {
    align-items: center;
    justify-content: center;
    /* padding: 13px; */
    border: 1px solid #909090;
    background-color: #ffffff60;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    cursor: pointer;
    outline: none;
    position: absolute;
    right: 16px;
    top: 95px;
    z-index: 1;
  }
  #toggle-animation svg {
    height: 9px;
  }
}
